---
layout: layouts/base.njk
pageClass: slides
templateEngineOverride: njk, md
---

{% from "slidebody.njk" import slide_body %}
{% call slide_body(title, color, type) %}
{{ content | safe }}
{%- endcall %}
