---
title: >-
    Harder, Better, Faster, Stronger
subtitle: >-
    Supercharging Your Site with Service Workers
layout: layouts/base.njk
showcontrols: true
color: blue
---

<header class="slide current title-slide background-{{color}}">
    <h1 class="main-title">{{title}}</h1>
    <h2 class="subtitle">{{subtitle}}</h2>
    <p class="author-link"><a href="mailto:stephen.fornal@tccd.edu">Stephen Fornal</a><br/>
    <small>Manager of Web Development<br/>
    Tarrant County College, Fort Worth, TX</small></p>
</header>

{% for slide in collections.slides %}
    {% from "slidebody.njk" import slide_body %}
    {% call slide_body(slide.data.title, slide.data.color, slide.data.type) %}
        {{ slide.templateContent | safe }}
    {%- endcall %}

{% endfor %}
