/* // Slideshow specific stuff */
$color: #202020;
$bgcolor: #f0f3f5;
$link-color: #315cbf;
$current-slide: #ffeda7;
$shadow-light: rgba(0, 0, 0, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.8);
$white: #fff;

$blue-start: #b7ebff;
$blue-end: #c2c9ff;

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

/* Flexible font sizing stuff */
$min-font-size: 18px;
$max-font-size: 58px;
$unitless-min-font-size: 18;
$unitless-max-font-size: 58;
$min-viewport: 400px;
$max-viewport: 1800px;
$unitless-min-viewport: 400;
$unitless-max-viewport: 1800;

/* Presentation watermark */
$water-mark: '#inn1';
