/* // Slideshow specific stuff */
$color: #404040;
$bgcolor: #e9e9e9;
$link-color: #315cbf;
$current-slide: #ffe164;
$shadow-light: rgba(0, 0, 0, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.8);
$white: #fff;

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

/* Flexible font sizing stuff */
$min-font-size: 18px;
$max-font-size: 58px;
$unitless-min-font-size: 18;
$unitless-max-font-size: 58;
$min-viewport: 320px;
$max-viewport: 1200px;
$unitless-min-viewport: 320;
$unitless-max-viewport: 1200;

/* Presentation watermark */
$water-mark: '#inn1';
